<section>
    <h2>Sign In</h2>
    <h4 style="color:red; font-weight:bold"> {{msz}}</h4>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Please type username" />
        <input type="password" name="password" placeholder="Please type password" />
        <button type="submit">Sign In</button>
    </form>
</section>


