<section>
    <h2>Sign Up</h2>
    <h4 style="color:red; font-weight:bold"> {{msz}}</h4>

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Please type username" />
        <input type="email" name="email" placeholder="Please type email" />
        <input type="password" name="password" placeholder="Please type password" />
        <button type="submit">Sign up</button>

    </form>
</section>


