<header>
    <div class="wrapper">
        <div class="fixedNav">

        <h1>Café Hiyoto</h1>
        <nav>
            <ul>
                 <li>
                    <a href="/">Menu</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/commandes">Commandes</a>
                </li>
              
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
             
               
            </ul>
        </nav>
                </div>

    </div>
</header>
